.additional-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px; 
}

.additional-images img {
  width: calc(33.33% - 20px); 
  margin: 10px; 
  border-radius: 10px; 
  transition: transform 0.3s ease; 
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .additional-images img {
    width: 100%; 
  }
}
